
body {
	background-color:#3CBCBC;
	color:white;
}

.uniDiv {
    text-align: center;
    background-color: #000066;
    margin:0px 10px 20px 15px;
    padding:2px;
}

.uniDivMid {
    text-align: center;
    background-color: black;
    margin:0px 10px 20px 15px;
    padding:2px;
}

/*
.button {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align:center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor:pointer;
}
*/


.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.respimg {
	/*width:700px;
	height:700px;*/
	height:50%;
	width:50%;
	background-color:lightgray;
	animation-name: example;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}


@keyframes example {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:red;}
}

/*
#myImg {
	transform:rotate(0deg);
	animation-name: spinner;
	animation-duration: 20s;
}

@keyframes spinner {
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
*/



@media screen and (max-width: 800px) {
	.respimg {
		width:50%;
		height:50%;
	}
}

@media screen and (max-width: 650px) {
	.respimg {
		width:60%;
		height:60%;
	}
}

@media screen and (max-width: 300px) {
	.respimg {
		width:75%;
		height:75%;
	}
}

